.container {
    display: flex;
}

.outer-centered {
    width: 50%;
}

.outer-centered, .outer-centered .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

.container:nth-child(2) > div {
    display: flex;
    align-items: end;
}

.container:nth-child(2) .outer-right {
    justify-content: end;
}

.container:nth-child(2) .inner {
    display: flex;
    align-items: end;
}

.container:nth-child(2) .outer-left .inner {
    text-align: left;
}

.container:nth-child(2) .outer-right .inner {
    text-align: right;
}